.nav-txt-font{
  font-family: 'Mooli', sans-serif;
}
.nav-element-hover
{
  display: inline-block;
  position: relative;
  color: #00806B;
}
.nav-element-hover::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#00806B;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-element-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-frop-animation
{
  box-shadow: inset 0 0 0 0 #4ca64c;
  color:black;
  /* padding: 0 .1rem; */
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav-frop-animation:hover{
  box-shadow: inset 160px 0 0 0 #4ca64c;
  color: white
}
.nav-txt-color{
  display: inline-block;
  color:black; 
}
.nav-txt-color:hover {
  color: green; 
  }